@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    height: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {

    min-height: 100vh;
    background-color:#DC143C ;
    padding: 1.4rem 7%;
}
 
.logo {
    position: absolute;
    padding-top: .2px;
    left: 47.3%;
}

.imapa-txt {
    position: fixed;
    top: 300px;
    left: 2%;
}

.imapa-picture {
    position: fixed;
    top: 200px;
    right: 5%;
}

.wrapper {
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 200px;
    left: 40%;
    width: 420px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    object-fit: cover;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .text {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 25px 45px 30px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .persetujuan {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 20px;
}

.persetujuan label input {
    accent-color: #fff;
    margin-right: 3px;
}


.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #050505;
    font-weight: 600;
}

.wrapper .btn :hover {
    background-color: aqua;
    transition: .5s ease-in-out;
    transition-delay: .3s;
    border-radius: 8px;
}

.container {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    top: 1000px;
    width: 90%;
    height: 163%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 1.4px 7%;
}

.text-submit {
    color: black;
}

.submit-text {
    justify-content: center;
    align-items: center;
    top: 30%;
    width: 73%px;
    background: transparent;
    border: 5px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 5px 10px rgba(0, 0, .1, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.submit-text .ucapan-selamat {
    font-size: 36px;
    text-align: center;
    color: #ffffff;
    padding: 30px 40px;
}

.submit-text .berhasil {
    font-size: 20px;
    padding: 10px 10px;
    color: #ffffff;
}

.submit-text .link-wa {
    font-size: 15px;
    padding: 10px 10px;
}



.mubes {
    padding-top: 2%;
}

.foto {
    padding-top: 4%;
}

.source {
    padding-top: 3%;
    color: #fff;
}

/* max responsive */
@media (max-width: 450px) {
    .wrapper {
        justify-content: center;
        align-items: center;
        left: 2%;
        width: 95%;
    }
    .logo {
        justify-content: center;
        align-items: center;
        left: 33%;
    }
    .container {
        width: 93%;
    }
    .submit-text {
        justify-content:center ;
        align-items: center;
        padding-top: 40%;
        font-size: 30px;
    }
    .ucapan-selamat {
        justify-content:center ;
        align-items: center;
        padding-top: 40%;
        font-size: 50px;
    }
    .berhasil {
        justify-content:center ;
        align-items: center;
        padding-top: 40%;
        font-size: 50px;
    }
}

